In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import StratifiedShuffleSplit

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Read the data using pandas and make a copy
df = pd.read_csv('../datasets/views/2020/data-us-2020.csv', na_values='?', comment = '\t', sep=',', skipinitialspace=True)

data = df.copy()
data.drop(['Country'], axis=1, inplace=True)

In [3]:
data.sample(15)

      ConvertedComp        Country  EdLevel  YearsCode
2232       100000.0  United States        5         20
3696       230000.0  United States        5         22
3965        52000.0  United States        2          3
5117       111000.0  United States        5         17
5346       130000.0  United States        5         10
3602       200000.0  United States        3         15
4986        51000.0  United States        4          5
5866       100000.0  United States        5         20
526        125000.0  United States        4         23
7189       500000.0  United States        8         40
5273       105000.0  United States        6         20
2179        98000.0  United States        6         14
6372       101000.0  United States        5         40
2440       410000.0  United States        6         25
1277       128000.0  United States        5          9